footerlinks {
    color: white;
    text-decoration: none !important;
}

    footerlinks:hover{
        color:aquamarine;
    }
/*******Footer*******/
#footer1{
    width: 100%;
    height: auto;
    margin: auto;
    background: aquamarine;
    padding: 10px 0px;
}

.footer-main{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-main ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-main ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #ffffff;
}
.footer-main ul li a{
    color: #272727;
    font-size: 25px;
    display: block;
}
.footer-main ul li a i{
    line-height: 50px;
}
.footer-menu{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu ul li{
    display: inline-block;
    margin: 0px 15px;
}
.footer-menu ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #272727;
}


.Details{
    background-color: aquamarine;
    text-align:center;
    font-size: 15px;
    font-family: Arial;
}


 

#footer2{
    background: #808080;
}

.content{ 

}

content .page-header{
    padding-bottom: 5px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eee;
}

.content .page-header h2{
    font-weight: 700;
}
/*[Product]*/
.product-item{
    position:relative;
}

.product-item .caption h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-top: 2px solid #333;
    margin-top: 10px;
    padding-top: 10px;
}

.product-item .caption .product-item-price{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.product-item .product-item-badge{
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 5px 12px 6px;
    color: #fff;
    font-size: 12px;
    background: #333;
    -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
          -o-border-radius: 4px 0 4px 0;
             border-radius: 4px 0 4px 0;
}

/*Contact Us*/

.social-media{

}

.social-media ul li a{
    float: left;
    font-family: monospace;
    font-size: 22px;
    margin-left: 23px;
    margin-right: 10px;
    transition: 0.5 ease-in-out;
}
.social-media ul li a:hover{
    color: #999;
}